Django==5.1.7
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2

# REST API
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1

django-cors-headers==4.6.0

django-filter==24.3

# DB (using PyMySQL to avoid compiling mysqlclient on Windows)
PyMySQL==1.1.1

# Async/Tasks
celery==5.4.0
redis==5.0.8

# Utils
requests==2.32.3
pandas==2.2.3
Pillow==11.0.0
python-dotenv==1.0.1

# Excel engines for pandas.read_excel
openpyxl==3.1.5
xlrd==2.0.1

# Additional deps used by models/migrations
django-multiselectfield==0.1.13


├── @eslint/js@9.28.0
├── @geoman-io/leaflet-geoman-free@2.18.3
├── @headlessui/react@2.2.7
├── @heroicons/react@2.2.0
├── @react-pdf/renderer@4.3.0
├── @tailwindcss/vite@4.1.10
├── @turf/turf@7.2.0
├── @types/leaflet@1.9.18
├── @types/react-dom@19.1.5
├── @types/react@19.1.6
├── @vitejs/plugin-react@4.5.0
├── apexcharts@4.7.0
├── axios@1.12.2
├── date-fns@4.1.0
├── dotenv@17.2.3
├── eslint-plugin-react-hooks@5.2.0
├── eslint-plugin-react-refresh@0.4.20
├── eslint@9.28.0
├── framer-motion@12.23.22
├── globals@16.2.0
├── headlessui@0.0.0
├── jspdf-autotable@5.0.2
├── jspdf@3.0.2
├── jwt-decode@4.0.0
├── leaflet@1.9.4
├── lucide-react@0.553.0
├── prettier@3.6.2
├── primevue@4.3.5
├── prop-types@15.8.1
├── react-apexcharts@1.7.0
├── react-dom@19.1.0
├── react-hot-toast@2.6.0
├── react-icons@5.5.0
├── react-imask@7.6.1
├── react-input-mask@2.0.4
├── react-leaflet@5.0.0
├── react-router-dom@7.6.2
├── react-to-pdf@2.0.1
├── react@19.1.0
├── styled-components@6.1.18
├── tailwindcss@4.1.10
└── vite@6.4.1
